*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
.full-wrapper{
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

/*============================
common css ends
=============================*/

.menu-bg{
    /* background-color: blue; */
    height: 185px;  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

.menu-bg .menu{
    height: 185px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
}

.menu-bg .menu .logo{
    width: 270px;
    height: 185px;
    /* background-color: brown; */
    display: flex;
    align-items: center;

}

.menu-bg .menu .menu-list{
    width: 600px;
    height: 185px;
    /* background-color: crimson; */
}

.menu-bg .menu .menu-list ul{
    width: 600px;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bg .menu .menu-list ul li{
    /* width: 80px; */
    /* background-color:#744fa0; */
    text-align: center;
    padding: 10px 20px;
    transition: all ease 0.4s;
}

.menu-bg .menu .menu-list ul li a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.menu-bg .menu .menu-list ul li:hover{
    background-color: #744fa0;
}


/*===================================
banner starts
===================================*/

.banner-bg{
    height: 700px;
    background: url(../images/banner.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

.banner-bg::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}


.banner-bg .icon-img{
    float: right;
    height: 120px;
    width: 50px;
    /* background-color:aqua; */
    margin-top: 310px;
}

.banner-bg .icon-img img{
    float: left;
    margin-bottom: 25px;
    margin-right: 10px;
    transition: all ease 0.4s;
}

.banner-bg .icon-img img:hover{
    transform: scale(1.25);
}

.banner-bg .banner{
    height: 700px;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content: flex-end;
}

.banner-bg .banner .banner-text{
    /* background-color: darkorange; */
    height: 700px;
    width: 570px;
    float: left;
    text-align: right;
}

.banner-bg .banner .banner-text h1{
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
    font-weight: 700;
    margin-top: 242px;
    color: white;
}

.banner-bg .banner .banner-text h1 span{
    color: #744fa0;
}

.banner-bg .banner .banner-text h2{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
}

.banner-bg .banner .banner-text hr{
    border: 1px solid white;
    text-align: right;
    width: 200px;
    margin-top: 30px;
    float: right;
    display: block;
}

.banner-bg .banner .banner-text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-top: 55px;
    padding-left: 103px;
}

.banner-bg .banner .banner-text a{
    width: 189px;
    height: 59px;
    border-radius: 5%;
    margin-top: 60px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.banner-bg .banner .banner-text a:hover{
    margin-top: 50px;
}


.banner-bg .banner .banner-text .btn1{
    background-color: #744fa0;
    float: right;
    margin-right: 10px;
}

.banner-bg .banner .banner-text .btn1 img{
    float: left;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 10px;
}

.banner-bg .banner .banner-text .btn1 h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    float: left;
    margin-top: 7px;
    color: white;
}

.banner-bg .banner .banner-text .btn1 h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    float: left;
    color: white;
}

.banner-bg .banner .banner-text .btn2{
    background-color: #f1f1f1;
    float: right;
    margin-right: 10px;
}

.banner-bg .banner .banner-text .btn2 img{
    float: left;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 10px;
}

.banner-bg .banner .banner-text .btn2 h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    float: left;
    color: #353535;
    margin-top: 7px;
}

.banner-bg .banner .banner-text .btn2 h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    float: left;
    color: #353535;
}


/*=====================================
about us
======================================*/

.about-us-bg{
    height: 542px;
    /* background-color: aqua; */
}

.about-us-bg .about-us{
    height: 542px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
}

.about-us-bg .about-us .about-us-text{
    width: 700px;
    height: 542px;
    /* background-color: chartreuse; */
    text-align: center;
}

.about-us-bg .about-us .about-us-text h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 65px;
    color: #353535;
    padding: 153px 30px 10px 100px;
}

.about-us-bg .about-us .about-us-text img{
    padding-left: 65px;
}

.about-us-bg .about-us .about-us-text p{
    font-size: 14px;
    color: #353535;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    padding: 20px 27px 0px 97px;
}


.about-us-bg .about-us .about-us-img{
    width: 470px;
    height: 542px;
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*=====================================
features
========================================*/

.features-bg{
    height: 675px;
    background-color: #f1f1f1;
}

.features-bg .features{
    /* background-color: antiquewhite; */
    height: 675px;
    display: flex;
    justify-content: space-between;
}

.features-bg .features .features-box1{
    width: 400px;
    height: 675px;
    /* background-color: aqua; */
    padding-top: 125px;
}

.features-bg .features .features-box1 .feature-text .feature-icon{
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
    float: left;
}

.features-bg .features .features-box1 .feature-text .feature-box-h1{
    float: left;
    color: #353535;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-right: 100px;
    padding-top: 2px;
    padding-bottom: 5px;

}


.features-bg .features .features-box1 .feature-text .feature-box-h1-g{
    float: left;
    color: #744fa0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-right: 100px;
    padding-top: 2px;
    padding-bottom: 5px;

}

.features-bg .features .features-box1 .feature-text .feature-box-p{
    /* float: left; */
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.features-bg .features .features-box1 .feature-text .feature-box-p-g{
    /* float: left; */
    color: #744fa0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.features-bg .features .features-box1 .feature-text hr{
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: left;
    width: 270px;
    border: 1px solid #353535;
}

.features-bg .features .features-box2{
    width: 370px;
    height: 675px;
    /* background-color: rgb(3, 165, 165); */
    text-align: center;
}

.features-bg .features .features-box2 h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 15px;
}

.features-bg .features .features-box2 img{
    padding-bottom: 30px;
}


.features-bg .features .features-box3{
    width: 400px;
    height: 675px;
    /* background-color: rgb(139, 189, 189); */
    text-align: right;
}


.features-bg .features .features-box3 h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 220px;
    padding-bottom: 25px;
}

.features-bg .features .features-box3 p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-left: 30px;
    line-height: 20px;
}


/*=====================================
screenshots
======================================*/

.screenshots-bg{
    height: 842px;
}

.screenshots-bg .screenshots{
    height: 842px;
    text-align: center;
}

.screenshots-bg .screenshots h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-top: 60px;
}

.screenshots-bg .screenshots .screenshots-1{
    margin: 15px 500px 58px 500px;
}

.screenshots-bg .screenshots .screenshots-2{
    margin: 0 200px 0 182px;
}

.screenshots-bg .screenshots .dot{
    margin-top: 15px;
}

.screenshots-bg .screenshots .watchvideo{
    margin-top: 20px;
}


/*========================
banner-2
=========================*/

.banner-2-bg{
    height: 503px;
    background: url(../images/banner2.png) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

.banner-2-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000091;
    z-index: -1;
}

.banner-2-bg .banner-2{
    text-align: center;
}

.banner-2-bg .banner-2 img{
    padding-top: 215px;
}

/*================================
price
==================================*/

.price-bg{
    height: 750px;
    /* background-color: antiquewhite; */
}

.price-bg .price{
    /* background-color: rgb(255, 0, 0); */
    text-align: center;
    
}

.price-bg .price h3{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 10px;
}

.price-bg .price .pricing-box{
    display: flex;
    justify-content: space-evenly;
}

.price-bg .price .price-item{
    width: 270px;
    height: 438px;
    /* background-color: #f1f1f1 */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
}

.price-bg .price .price-item .price-item-box1{
    height: 60px;
    width: 270px;
    background-color: #f1f1f1;
    text-align: center;
}

.price-bg .price .price-item .price-item-box1 h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #353535;
}

.price-bg .price .price-item .price-item-box2{
    height: 160px;
    width: 270px;
    background-color: #fff;
    position: relative;
    text-align: center;
    border: 1px solid #f1f1f1;
}

.price-bg .price .price-item .price-item-box2 .eclipse{
    width: 118px;
    height: 118px;
    /* background-color: lightgreen; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    border-radius: 50%;
}

.price-bg .price .price-item .price-item-box2 .eclipse h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    color: #353535;
}

.price-bg .price .price-item .price-item-box2 .eclipse h1 span{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 47px;
}

.price-bg .price .price-item .price-item-box2 .eclipse h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #353535;
}

.price-bg .price .price-item .price-item-box3{
    height: 188px;
    width: 270px;
    background-color: #f1f1f1;
    padding-top: 30px;
    text-align: center;
    border-radius: 0% 0% 6% 6%;
}

.price-bg .price .price-item .price-item-box3 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    padding-bottom: 10px;
}

.price-bg .price .price-item .price-item-box3 a{
    border: 1px solid #353535;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #353535;
    padding:10px 20px;
    border-radius: 7%;
    position: absolute;
    left: 90px;
    bottom: 10px;
    background-color: #fff;
}






.price-bg .price .price-item-3{
    width: 270px;
    height: 438px;
    /* background-color: #f1f1f1 */
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
}

.price-bg .price .price-item-3 .price-item-box1{
    height: 60px;
    width: 270px;
    background-color: #744fa0;
    text-align: center;
}

.price-bg .price .price-item-3 .price-item-box1 h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
}

.price-bg .price .price-item-3 .price-item-box2{
    height: 160px;
    width: 270px;
    background-color: #fff;
    position: relative;
    text-align: center;
    border: 1px solid #f1f1f1;
}

.price-bg .price .price-item-3 .price-item-box2 .eclipse{
    width: 118px;
    height: 118px;
    /* background-color: lightgreen; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    border-radius: 50%;
}

.price-bg .price .price-item-3 .price-item-box2 .eclipse h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    color: #353535;
}

.price-bg .price .price-item-3 .price-item-box2 .eclipse h1 span{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 47px;
}

.price-bg .price .price-item-3 .price-item-box2 .eclipse h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #353535;
}

.price-bg .price .price-item-3 .price-item-box3{
    height: 188px;
    width: 270px;
    background-color: #f1f1f1;
    padding-top: 30px;
    text-align: center;
    border-radius: 0% 0% 6% 6%;
}

.price-bg .price .price-item-3 .price-item-box3 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    padding-bottom: 10px;
}

.price-bg .price .price-item-3 .price-item-box3 a{
    border: 1px solid #744fa0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding:10px 20px;
    border-radius: 7%;
    position: absolute;
    left: 90px;
    bottom: 10px;
    background-color: #744fa0;
}


/*=======================================
team
=========================================*/

.team-bg{
    /* background-color: aqua; */
    height: 765px;
}

.team-bg .team{
    text-align: center;
    height: 765px;
    /* background-color: aquamarine; */
    
}

.team-bg .team h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 50px;
}

.team-bg .team .team-item{
    height: 765px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.team-bg .team .team-item .team-item-box{
    width: 373px;
    height: 373px;
    /* background-color: silver; */
    border-radius: 4%;
    overflow: hidden;
    margin-top: 85px;
}

.team-bg .team .team-item .team-item-box-2{
    width: 370px;
    height: 545px;
    /* background-color: silver; */
    border-radius: 4%;
    overflow: hidden;
    border: 1px solid #f1f1f1;
} 

.team-bg .team .team-item .team-item-box-2 .team-box-2-img{
    background: url(../images/team2.jpg) no-repeat center / cover;
    width: 370px;
    height: 370px;
    position: relative;
    z-index: 1;
}
.team-bg .team .team-item .team-item-box-2 .team-box-2-img .team-icon{
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding-top: 160px;
    margin: 0 auto;
}


.team-bg .team .team-item .team-item-box-2 .team-box-2-img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.678);
    z-index: -1;
}

.team-bg .team .team-item .team-item-box-2 .team-box-2-img a{
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 50%;
    text-align: center;
    position: relative;
    transition: all ease 0.4s;
}


.team-bg .team .team-item .team-item-box-2 .team-box-2-img i{
    color: #353535;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-bg .team .team-item .team-item-box-2 .team-box-2-img a:hover{
    background-color: #1da1f2;
}


/* .team-bg .team .team-item .team-item-box-2 img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.637);
} */

.team-bg .team .team-item .team-item-box-2 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #353535;
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 10px;
}

.team-bg .team .team-item .team-item-box-2 h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.team-bg .team .team-item .team-item-box-2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    padding: 0px 60px;
}

.team-bg .team h3{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
}


/*===============================================
feedback
=================================================*/


.feedback-bg{
    height: 550px;
    background: url(../images/feedback.jpg) no-repeat center / cover;
    margin-top: 320px;
    position: relative;
    z-index: 1;
}

.feedback-bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: -1;
}

.feedback-bg .feedback{
    height: 550px;
    padding-top: 20px;
    text-align: center;
}

.feedback-bg .feedback .feedback-box{
    width: 800px;
    height: 295px;
    margin:0 auto;
    background: url(../images/feedback-box.png) no-repeat center;
    position: relative;
}

.feedback-bg .feedback .feedback-box p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    position: absolute;
    top: 55px;
    padding: 0 55px;
}

.feedback-bg .feedback .feedback-box .star{
    position: absolute;
    top: 155px;
    left: 356px;
}

.feedback-bg .feedback .feedback-box h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #353535;
    position: absolute;
    top: 185px;
    left: 350px;
}

.feedback-bg .feedback .feedback-box h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 210px;
    left: 385px;
}

.feedback-bg .feedback .feedback-img img{
    margin: 0 15px;
}

.feedback-bg .feedback .dot img{
    margin: 30px 2px;
}


/*==================================================
Get in touch
====================================================*/

.contact-bg{
    height: 655px;
    /* background-color: aqua; */
}

.contact-bg .contact{
    height: 655px;
    /* background-color: bisque; */
    text-align: center;
}

.contact-bg .contact h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 80px;
}

.contact-bg .contact form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}


.contact-bg .contact form .form-info{
    width: 370px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #353535;
}

.contact-bg .contact form .box{
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.contact-bg .contact form .box-1{
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
}

.contact-bg .contact form textarea{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #353535;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contact-bg .contact a{
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #744fa0;
    background-color: #744fa0;
    padding:10px 20px;
    border-radius: 5px;
    transition: all ease 0.4s;
}

.contact-bg .contact a:hover{
    background-color: white;
    color: #744fa0;
}



/*====================================
footer
======================================*/

.footer-bg{
    height: 260px;
    background-color: #353535;
}

.footer-bg .footer{
    height: 260px;
    text-align: center;
}

.footer-bg .footer .footer-logo{
    margin-top: 30px;
}

.footer-bg .footer .footer-icon{
    margin: 30px auto;
    width: 290px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-bg .footer .footer-icon a{
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 50%;
    text-align: center;
    position: relative;
    transition: all ease 0.4s;
}

.footer-bg .footer .footer-icon a i{
    color: #353535;
    font-size: 24px;
}

.footer-bg .footer .footer-icon a:hover{
    background-color: #1da1f2;
    color: white;
}
.footer-bg .footer .footer-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-bg .footer .footer-icon i:hover{
    color: white;
}

.footer-bg .footer .footer-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}

.footer-bg .footer .footer-text p span{
    color: #744fa0;
}